# Winter School in Astronomical Calculations 2024

## Jupyter Notebook and Google Colab

Jupyter Notebook and Google Colab are powerful tools for interactive programming in Python. They allow you to combine **code**, **output**, and **documentation** in one interface, making them ideal for data analysis, machine learning, and more.

---

## Recommended Setup: Google Colab

[Google Colab](https://colab.research.google.com/) is a free, browser-based tool similar to Jupyter Notebook but with added benefits:
- No installation required.
- Cloud-based, so you can access your work from anywhere.
- Supports collaboration and sharing.
- Provides free access to GPUs and TPUs for computational tasks.

### **Using Google Colab**
1. Go to [Google Colab](https://colab.research.google.com/).
2. Sign in with your Google account.
3. Create a new notebook by clicking **File > New Notebook**.
4. Click `Connect` on top right. This will connect you to a server and resources will be alloted. This is called Runtime or a kernel.
5. Code, execute, and save your notebook directly to your Google Drive.
6. Optionally, connect Colab to your local runtime by following [these instructions](https://research.google.com/colaboratory/local-runtimes.html).

- Supports Python 3.
- Works offline by connecting to a local runtime.
- Cheat Sheet: [Google Colab Cheat Sheet](https://github.com/Tanu-N-Prabhu/Python/blob/master/Cheat_sheet_for_Google_Colab.ipynb).

---

## For Advanced Users: Installing Jupyter Notebook

If you prefer working offline or need more control, you can install Jupyter Notebook on your system. We recommend using **Anaconda** or **Miniconda** for an easy setup.

### **Step 1: Install Anaconda or Miniconda**
- Download the installer:
  - [Anaconda Download](https://www.anaconda.com/download/)
  - [Miniconda Download](https://docs.conda.io/en/latest/miniconda.html)

- Choose the installer for your operating system and follow the graphical installation instructions. Anaconda includes Jupyter Notebook and other tools like Spyder, making it a comprehensive environment.

### **Step 2: Launch Jupyter Notebook**

#### **Windows**
1. Open **Anaconda Navigator** and launch Jupyter Notebook.
2. Alternatively, open Command Prompt and run:
   ```
   jupyter notebook
   ```

#### **macOS**
1. Open **Anaconda Navigator** and launch Jupyter Notebook.
2. Alternatively, open Terminal and run:
   ```
   jupyter notebook
   ```

#### **Linux**
1. Install Anaconda by following [these detailed instructions](https://docs.anaconda.com/anaconda/install/linux/).
2. Open Terminal and run:
   ```
   jupyter notebook
   ```

---

## File Types

### **.py Files**
- Regular Python files.
- Plain text containing Python code.

### **.ipynb Files**
- Jupyter Notebook files.
- Contain code, output, and documentation in a structured format.
- Can be executed and modified interactively in Jupyter or Colab.

---

## Jupyter Notebook Essentials

### **Running a Cell**
- `Shift + Enter`: Run the cell and move to the next one.
- `Ctrl + Enter`: Run the cell and stay on the current cell.

### **Cell Types**
1. **Code Cells**: Write and execute Python code.
2. **Markdown Cells**: Add text, explanations, and formatted equations using Markdown.
   - Inline math: `$E=mc^2$`
   - Block math: `$$E=mc^2$$`
3. **Raw Cells**: Store unformatted text for export.

### **Useful Shortcuts**
- **Create a new cell**: Press `A` (above) or `B` (below).
- **Delete a cell**: Press `D` twice (`D, D`).
- **Save notebook**: Press `S` or `Ctrl + S`.
- **Change cell type**: Press `Y` for Code or `M` for Markdown.

# Basics

In [1]:
# This is a comment. '#' is used for comments which can fit in one line

'''Text enclosed in three single quotes
allows to write multi line comments'''

'Text enclosed in three single quotes\nallows to write multi line comments'

In [2]:
print('Hello World')

Hello World

In [3]:
print("Hubble's Law")

Hubble's Law

In [4]:
print('Hubble\'s Law')

Hubble's Law

In [5]:
a = 3
b = 4
c = a+b

In [6]:
print(c)

7

In [7]:
c

7

In [8]:
# Try different operations by defining variables

### Operations

| Python Operator | Description  |
| :---: | :---: |
| `+` | addition |
| `-` | subtraction |
| `*` | multiplication |
| `/` | division |
| `**` | power |

## There are different object types in Python

- Strings
- Numbers
- Lists
- Tuples
- Dictionaries
- Set
- Boolean

## Strings

In [8]:
s = "Simple string. A sequence of characters which can also be numbers 1,2,3 and special characters `/@#$% "

In [9]:
s

'Simple string. A sequence of characters which can also be numbers 1,2,3 and special characters `/@#$% '

In [10]:
# Using escape characters and line change or tab operators in print statement

message = "This is the first day of Astro winter school.\nOrganiser:\tWilson College\nLanguage:\tPython"

In [11]:
print(message)

This is the first day of Astro winter school.
Organiser:	Wilson College
Language:	Python

#### Formatted string

Used to parse a variable while printing string

In [1]:
duration = 6
message = f"The Astro winter school will be for {duration} days."

In [2]:
print(message)

The Astro winter school will be for 6 days.

In [3]:
message

'The Astro winter school will be for 6 days.'

In [4]:
message[5:]

'stro winter school will be for 6 days.'

In [5]:
message[:7]

'The Ast'

In [6]:
message[4:9]

'Astro'

In [7]:
# Remember Python is 0 indexing language so the first character is at 0th position.

# Try out different indexes for yourself

## Numbers
There are 3 numeric types:

- `int`
- `float`
- `complex`

#### How to differentiate between types of numbers?

There is a small note regarding the inspection of different number types.

"*How do we know what type of number is in your code?*"

To solve this issue there is an in-built function called `type()` which lets you know the type of an object.

In [17]:
# If you are given a string which includes a number, such as:
a = '24'
print(type(a)) #Output: <class 'str'>

# Converting string type to integer type:
b = int(a)
print(type(b)) #Output: <class 'int'>

<class 'str'>
<class 'int'>

### Floating numbers

Floating numbers are used when we want to play around with numbers with decimal numbers.
For example, `e = 2.718`.

You can convert a string to a floating number, for example:

In [18]:
e_string = '2.718'

e_float = float(e_string)

print(f"{e_float}\n Type:{type(e_float)}")

2.718
 Type:<class 'float'>

- If you need to **round-off** the floating number use the method `round()` as follows:

In [19]:
a = 4.54578

# rounding off to three decimal places.
round(a, 3)

4.546

### Imaginary numbers:

**Defining an imaginary number**:

Main ways to define the complex number:

In [20]:
c = 5 + 4j
print(type(c))

d = 10j + 7
print(type(d))

f = 2j
print(type(f))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Python understands "`j`" as $\sqrt{-1}$

Common mistakes to avoid:

- Don't use `a + b*j`, otherwise you will encounter an error. Instead use the above methods to define the complex number.

<u>**Note**</u>: If we want to define a *very large or a very small number*, for example, the planck's constant,  *h* = $6.626*10^{-34}$ (in SI Units), or speed of light, *c* = $3*10^{8}$ (SI Units). We can use the following notation:

In [21]:
# Planck's constant
h = 6.626e-34
print(h)
# Speed of light
c = 3e8
print(c)

6.626e-34
300000000.0

We will look at the other object types in the live sessions!

Please make sure you are able to either install jupyter notebook in your laptop or you are able to run this notebook on Google Colab. Become familiar with the UI so that you can start right away.